<div class="login-container animated fadeInDown bootstrap snippets bootdeys">
  <div class="loginbox bg-white">
    <div class="loginbox-title">REGISTER</div>
    <div class="loginbox-social">
      <div class="social-title">Connect with Your Social Accounts</div>
      <div class="social-buttons">
        <a href="" class="button-facebook">
          <i class="social-icon fa fa-facebook"></i>
        </a>
        <a href="" class="button-twitter">
          <i class="social-icon fa fa-twitter"></i>
        </a>
        <a href="" class="button-google">
          <i class="social-icon fa fa-google-plus"></i>
        </a>
      </div>
    </div>
    <div class="loginbox-or">
      <div class="or-line"></div>
      <div class="or">OR</div>
    </div>
    <form  (ngSubmit)="onSubmit()">
      <div class="loginbox-textbox">
        <label for="fullName" class="text-muted">Full Name</label>
        <input type="text" class="form-control mt-1" id="fullName" placeholder="Full Name" />
      </div>
      <div class="loginbox-textbox">
        <label for="email" class="text-muted">Email</label>
        <input type="text" class="form-control mt-1"  id="email" placeholder="Email" />
      </div>
      <div class="loginbox-textbox">
        <label for="password" class="text-muted">Password</label>
        <input type="text" class="form-control mt-1" id="password" placeholder="Password" />
      </div>
      <div class="loginbox-submit">
        <input type="button" class="btn btn-primary btn-block" value="Register" />
      </div>
    </form>
    
  </div>
  
</div>
