<div *ngIf="error;then errorTemplate;else normalTemplate;"></div>
<ng-template #normalTemplate>
    <div class="page-404">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <!--BEGIN CONTENT-->
                    <div class="inner-circle"><i class="fa fa-cogs"></i><span>500</span></div>
                    <span class="inner-status">Opps! Internal Server Error!</span>
                    <span class="inner-detail">Unfortunately we're having trouble loading the page you are looking for. Please come back in a while.</span>
                    <!--END CONTENT-->
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #errorTemplate>
    <div class="container">
        <h1 class="text-center">Internal Server Error</h1>
        <h4 class="text-danger text-center">Error: {{error.message}}</h4>
        <code class="mt-5">{{error.details}}</code>
    </div>
</ng-template>
 


