<div *ngIf="basket != null && basket.items.length > 0;then items;"></div>
<div *ngIf="basket != null && basket.items.length == 0;then empty;"></div>


<!-- Alert-->
<!-- <div class="alert alert-info alert-dismissible fade show text-center mb-30"><span class="alert-close" data-dismiss="alert"></span><i class="fe-icon-award"></i>&nbsp;&nbsp;With this purchase you will earn <strong>2,549</strong> Reward Points.</div> -->
<!-- Cart Item-->
<ng-template #empty>
    <h3>Cart is empty!</h3>
</ng-template>

<ng-template #items>
    <div
    class="cart-item d-md-flex justify-content-between"
    *ngFor="let basketItem of basket.items"
  >

  
    <span class="remove-item" (click)="removeCartItem(basketItem.id)"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb">
          <img
            src="{{baseUrlForFiles}}{{basketItem.pictureUrl}}"
            alt="{{basketItem.productName}}"
          />
        </div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">{{basketItem.productName}}</h4>
          <span><strong>Type:</strong> {{basketItem.type}}</span
          ><span><strong>Brand:</strong> {{basketItem.brand}}</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Quantity</div>
      <div class="count-input">
       
        <input [type]="'number'" min="1" class="form-control number-to-text" value="{{basketItem.quantity}}"/>
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Subtotal</div>
      <span class="text-xl font-weight-medium">{{basketItem.price * basketItem.quantity | currency}}</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Discount</div>
      <span class="text-xl font-weight-medium">$35.00</span>
    </div>
  </div>

<div class="row justify-content-end">
  <div class="col-md-4 d-flex justify-content-end">
    <span>Basket Total: {{basketTotal | currency}}</span>
  </div>
</div>

  <!-- Buttons-->
  <hr class="my-2" />
  <div class="row pt-3 pb-5 mb-2">
    <div class="col-sm-6 mb-3">
      <a class="btn btn-style-1 w-100 btn-secondary btn-block" href="#"
        ><i class="fe-icon-refresh-ccw"></i>&nbsp;Update Cart</a
      >
    </div>
    <div class="col-sm-6 mb-3">
      <a
        class="btn btn-style-1 w-100 btn-primary btn-block"
        href="checkout-address.html"
        ><i class="fe-icon-credit-card"></i>&nbsp;Checkout</a
      >
    </div>
  </div>

</ng-template>


