<div class="login-container animated fadeInDown bootstrap snippets bootdeys">
  <div class="loginbox bg-white">
    <div class="loginbox-title">Sign In</div>
    <div class="loginbox-social">
      <div class="social-title">Connect with Your Social Accounts</div>
      <div class="social-buttons">
        <a href="" class="button-facebook">
          <i class="social-icon fa fa-facebook"></i>
        </a>
        <a href="" class="button-twitter">
          <i class="social-icon fa fa-twitter"></i>
        </a>
        <a href="" class="button-google">
          <i class="social-icon fa fa-google-plus"></i>
        </a>
      </div>
    </div>
    <div class="loginbox-or">
      <div class="or-line"></div>
      <div class="or">OR</div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-text-input [label]="'Email Address'"  [formControl]="loginForm.controls['email']"></app-text-input>
        <app-text-input [label]="'Password'" [formControl]="loginForm.controls['password']" [type]="'password'"></app-text-input>
        <div class="mx-5 mt-2">
        <input type="submit"  [disabled]="loginForm.invalid" class="btn btn-primary btn-block" value="Login" />
      </div>
    </form>
    <div class="loginbox-forgot loginbox-textbox"><a>Forgot Password?</a></div>
  </div>
  
</div>
